<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Costumers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background-color:#edf7f6">
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height: 100vh;">
          <div class="col-9 rounded-left shadow p-3 mb-5 bg-white rounded" style="height: 75%; padding:10px; background-color:#fff">
            <div style="width: 100%; padding-left:10px"><h2>Tabel Costumer Bank NodeJS</h2></div>
            <hr>
            <table class="table table-striped table-bordered table-sm" id="tabel_costumer">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Alamat</th>
                    <th scope="col">Kode Pos</th>
                    <th scope="col">No Hp</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Settings</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each results}}  
                  <tr>
                    <th scope="row">{{ cust_id }}</th>
                    <td>{{ nama }}</td>
                    <td>{{ alamat }}</td>
                    <td>{{ kode_post }}</td>
                    <td>{{ no_hp }}</td>
                    <td>{{ email }}</td>
                    <td>
                        <a href="javascript:void(0);" class="btn btn-success btn-sm edit" style="margin-right: 10px;" title="Ubah Data" data-id="{{ cust_id }}" data-costumer_name="{{ nama }}" data-costumer_alamat="{{ alamat }}" data-costumer_kodepost="{{ kode_post }}" data-costumer_nohp="{{ no_hp }}" data-costumer_email="{{ email }}">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                            </svg>
                        </a>
                        <a href="javascript:void(0);" class="btn btn-danger btn-sm delete" title="Hapus" data-id="{{ cust_id }}" data-costumer_name="{{ nama }}">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </a>
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
            </table>
          </div>
          <div class="col-3 overflow-auto border-left border-secondary rounded-right shadow p-3 mb-5 bg-white rounded" style="height: 75%; background-color:#fff;padding:10px">
              <h5 class="text-primary">Tambah Costumer Baru</h5>
              <hr>
              <form action="/save" method="POST">
                <div class="form-group">
                  <label for="nama">Nama</label>
                  <input type="text" class="form-control" name="nama" id="nama" aria-describedby="namahelp" required>
                  <small id="namahelp" class="form-text text-muted">Nama harus diisi.</small>
                </div>
                <div class="form-group">
                    <label for="alamat">Alamat</label>
                    <input type="text" class="form-control" name="alamat" id="alamat" aria-describedby="alamathelp" required>
                    <small id="alamathelp" class="form-text text-muted">Alamat harus diisi.</small>
                </div>
                <div class="form-group">
                    <label for="kodepost">Kode Post</label>
                    <input type="text" class="form-control" name="kodepost" id="kodepost">
                </div>
                <div class="form-group">
                    <label for="nohp">No Hp</label>
                    <input type="text" class="form-control" name="nohp" id="nohp">
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" name="email" id="email">
                </div>
                <button type="submit" class="btn btn-primary">Tambah</button>
            </form>

          </div>
        </div>
        </div>
      </div>

    <!-- Modal Update -->
    <form action="/update" method="POST">
    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" id="modal_update">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ubah Data</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                    <div class="form-group">
                      <input type="hidden" class="form-control id" name="id" id="id" aria-describedby="namahelp">
                    </div>
                    <div class="form-group">
                      <label for="nama">Nama</label>
                      <input type="text" class="form-control update_nama" name="update_nama" id="nama" aria-describedby="namahelp" required>
                      <small id="namahelp" class="form-text text-muted">Nama harus diisi.</small>
                    </div>
                    <div class="form-group">
                        <label for="alamat">Alamat</label>
                        <input type="text" class="form-control update_alamat" name="update_alamat" id="alamat" aria-describedby="alamathelp" required>
                        <small id="alamathelp" class="form-text text-muted">Alamat harus diisi.</small>
                    </div>
                    <div class="form-group">
                        <label for="kodepost">Kode Post</label>
                        <input type="text" class="form-control update_kodepost" name="update_kodepost" id="kodepost">
                    </div>
                    <div class="form-group">
                        <label for="nohp">No Hp</label>
                        <input type="text" class="form-control update_nohp" name="update_nohp" id="nohp">
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="email" class="form-control update_email" name="update_email" id="email">
                    </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
            <button type="submit" class="btn btn-success">Simpan</button>
          </div>
        </div>
      </div>
    </div>
    </form>


    <!-- Modal Hapus-->
    <form action="/delete" method="POST">
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-danger text-light">
            <h5 class="modal-title" id="exampleModalLabel">Anda yakin ingin menghapus data berikut?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                <div class="form-group">
                    <label for="nama">ID</label>
                    <input type="text" class="form-control id" name="id" id="id" aria-describedby="namahelp">
                </div>
                <div class="form-group">
                    <label for="nama">Nama : </label>
                    <input type="text" class="form-control del_nama" name="del_nama" id="del_nama" aria-describedby="namahelp">
                </div>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal">Batal</button>
            <button type="submit" class="btn btn-danger">Hapus</button>
          </div>
        </div>
      </div>
    </div>
    </form>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
	        //showing data to modal for edit record
            $('#tabel_costumer').on('click','.edit',function(){
                var costumer_id = $(this).data('id');
                var costumer_name = $(this).data('costumer_name');
                var costumer_alamat = $(this).data('costumer_alamat');
                var costumer_kodepost = $(this).data('costumer_kodepost');
                var costumer_nohp = $(this).data('costumer_nohp');
                var costumer_email = $(this).data('costumer_email');
                $('#updateModal').modal('show');
                $('.id').val(costumer_id);
                $('.update_nama').val(costumer_name);
                $('.update_alamat').val(costumer_alamat);
                $('.update_kodepost').val(costumer_kodepost);
                $('.update_nohp').val(costumer_nohp);
                $('.update_email').val(costumer_email);
            });
	        //showing modal for delete record
	        $('#tabel_costumer').on('click','.delete',function(){
                var costumer_id = $(this).data('id');
                var costumer_name = $(this).data('costumer_name');
                $('#deleteModal').modal('show');
                $('.id').val(costumer_id);
                $('.del_nama').val(costumer_name);
            });
        });
    </script>
</body>
</html>